<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="jumbotron jumb-titulo">
            <h2 class="text-center">
                <span class="glyphicon glyphicon-user"></span>
                &nbsp; {{produtor.nome}}
            </h2>
            <p class="text-center">Informações Detalhadas do Produtor rural</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="thumbnail container-painel-home">
            <p class="text-center">
                Aqui nesta página você encontrará todas as informações registradas no sistema referente ao
                produtor rural selecionado.
            </p>
            <p class="text-center">
                Caso deseje alterar alguma informação basta clicar no botão <i>"Editar"</i>. Caso deseje retornar
                para a página de listagem dos produtores basta clicar em <i>"Cancelar"</i>.
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="text-center panel-title">Informações Pessoais</h2>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <ul class="nav nav-tabs">
                            <li role="presentation" class="active"><a href="" data-target="#tabHome" data-toggle="tab">Informações Iniciais</a></li>
                            <li role="presentation"><a href="" data-target="#tabEndereco" data-toggle="tab">Endereço</a></li>
                            <li role="presentation"><a href="" data-target="#tabContato" data-toggle="tab">Contato</a></li>
                            <li role="presentation"><a href="" data-target="#tabFazendas" data-toggle="tab">Fazendas</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="tabHome">
                                <table class="table table-responsive table-striped table-hover">
                                    <tr>
                                        <td>Nome Completo:</td>
                                        <td><strong>{{produtor.nome}}</strong></td>
                                    </tr>
                                    <tr>
                                        <td>CPF:</td>
                                        <td><strong>{{produtor.cpf}}</strong></td>
                                    </tr>
                                    <tr>
                                        <td>Inscrição Estadual:</td>
                                        <td><strong>{{produtor.inscricaoEstadual}}</strong></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="tabEndereco">
                                <table class="table table-responsive table-striped table-hover">
                                    <tr>
                                        <td>Logradouro:</td>
                                        <td><strong>{{produtor.endereco.logradouro}}</strong></td>
                                    </tr>
                                    <tr>
                                        <td>Número:</td>
                                        <td><strong>{{produtor.endereco.numero}}</strong></td>
                                    </tr>
                                    <tr>
                                        <td>Complemento:</td>
                                        <td><strong>{{produtor.endereco.complemento}}</strong></td>
                                    </tr>
                                    <tr>
                                        <td>Bairro:</td>
                                        <td><strong>{{produtor.endereco.bairro}}</strong></td>
                                    </tr>
                                    <tr>
                                        <td>Cidade:</td>
                                        <td><strong>{{produtor.endereco.cidade}}</strong></td>
                                    </tr>
                                    <tr>
                                        <td>Estado:</td>
                                        <td><strong>{{produtor.endereco.estado}}</strong></td>
                                    </tr>
                                    <tr>
                                        <td>CEP:</td>
                                        <td><strong>{{produtor.endereco.cep}}</strong></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="tabContato">
                                <table class="table table-responsive table-striped table-hover">
                                    <tr>
                                        <td>E-mail:</td>
                                        <td><strong>{{produtor.email}}</strong></td>
                                    </tr>
                                    <tr>
                                        <td>Telefone 1:</td>
                                        <td><strong>{{produtor.telefone1}}</strong></td>
                                    </tr>
                                    <tr>
                                        <td>Telefone 2:</td>
                                        <td><strong>{{produtor.telefone2}}</strong></td>
                                    </tr>
                                    <tr>
                                        <td>Observação:</td>
                                        <td><strong>{{produtor.observacao}}</strong></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="tabFazendas">
                                <table class="table table-responsive table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>Nome:</th>
                                            <th>Cidade:</th>
                                            <th>Estado:</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="fazenda in produtor.fazendas">
                                            <td>{{fazenda.nome}}</td>
                                            <td>{{fazenda.endereco.cidade}}</td>
                                            <td>{{fazenda.endereco.estado}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <a href="/produtor/edit/{{produtor.id}}" class="btn btn-primary">
                    <span class="glyphicon glyphicon-pencil"></span>
                    &nbsp;Editar
                </a>
                <a href="/produtor" class="btn btn-default">
                    <span class="glyphicon glyphicon-remove"></span>
                    &nbsp;Cancelar
                </a>
            </div>
        </div>
    </div>
</div>     