<main>
    <div class="container-fluid banner-competencia wow fadeInDown">
        <div class="row">
            <div class="col-xs-12 col-md-offset-3 col-md-6">
                <p class="text-center">
                    <h1 class="text-center">
                        <span class="glyphicon glyphicon-tags"></span>
                        &nbsp;COMPETÊNCIAS
                    </h1>
                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid wow fadeInDown">
        <div class="row">
            <div class="col-xs-12 col-md-offset-2 col-md-8">
                <p class="container-texto">
                    Seja bem vindo a minha página de habilidades e competências. Nela você encontrará
                    uma lista com os meus principais conhecimentos referente a área de desenvolvimento
                    de software, com ênfase no desenvolvimento web.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-offset-2 col-md-8">
                <p class="container-texto">
                    Cada painel possui um nome, o qual representa a habilidade que possuo. Abaixo dele
                    é possível verificar o meu nível de conhecimento referente ao mesmo através da barra
                    de progresso em vermelho.
                </p>
            </div>
        </div>
    </div>
    <div id="container-competencia-1" class="container-fluid paines-de-competencia wow zoomIn">
        <div class="row">
            <h2 class="text-center">
                Principais Habilidades e Competências
            </h2>
            <br />
        </div>
        <div class="row wow zoomInUp">
            <div class="col-xs-12 col-md-3">
                <div class="panel panel-default painel-competencia text-center wow fadeInDown">
                    <div class="painel-competencia-cabecalho">
                        <h3 class="panel-title titulo-painel">
                            <span class="icones-paineis-info glyphicon glyphicon-tag"></span>&nbsp;
                            Desenv. de Software
                        </h3>
                    </div>
                    <div class="panel-body corpo-painel">
                        <div class="progress progress-striped active">
                            <div class="pg-dev-soft progress-bar progress-bar-danger" role="progressbar"
                                 aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                                <span class="sr-only">90% Completo</span>
                                90%
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="panel panel-default painel-competencia text-center wow fadeInDown">
                    <div class="painel-competencia-cabecalho">
                        <h3 class="panel-title titulo-painel">
                            <span class="icones-paineis-info glyphicon glyphicon-tag"></span>&nbsp;
                            Design Patterns - C#
                        </h3>
                    </div>
                    <div class="panel-body corpo-painel">
                        <div class="progress progress-striped active">
                            <div class="pg-design-patterns progress-bar progress-bar-danger" role="progressbar"
                                 aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                                <span class="sr-only">60% Completo</span>
                                60%
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="panel panel-default painel-competencia text-center wow fadeInDown">
                    <div class="painel-competencia-cabecalho">
                        <h3 class="panel-title titulo-painel">
                            <span class="icones-paineis-info glyphicon glyphicon-tag"></span>&nbsp;
                            Angular.js
                        </h3>
                    </div>
                    <div class="panel-body corpo-painel">
                        <div class="progress progress-striped active">
                            <div class="pg-angular progress-bar progress-bar-danger" role="progressbar"
                                 aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                                <span class="sr-only">70% Completo</span>
                                70%
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="panel panel-default painel-competencia text-center wow fadeInDown">
                    <div class="painel-competencia-cabecalho">
                        <h3 class="panel-title titulo-painel">
                            <span class="icones-paineis-info glyphicon glyphicon-tag"></span>&nbsp;
                            Test-Driven Design
                        </h3>
                    </div>
                    <div class="panel-body corpo-painel">
                        <div class="progress progress-striped active">
                            <div class="pg-tdd progress-bar progress-bar-danger" role="progressbar"
                                 aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                                <span class="sr-only">40% Completo</span>
                                40%
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row wow zoomInUp">
            <div class="col-xs-12 col-md-3">
                <div class="panel panel-default painel-competencia text-center wow fadeInDown">
                    <div class="painel-competencia-cabecalho">
                        <h3 class="panel-title titulo-painel">
                            <span class="icones-paineis-info glyphicon glyphicon-tag"></span>&nbsp;
                            ASP.NET MVC 4
                        </h3>
                    </div>
                    <div class="panel-body corpo-painel">
                        <div class="progress progress-striped active">
                            <div class="pg-dev-soft progress-bar progress-bar-danger" role="progressbar"
                                 aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                                <span class="sr-only">90% Completo</span>
                                90%
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="panel panel-default painel-competencia text-center wow fadeInDown">
                    <div class="painel-competencia-cabecalho">
                        <h3 class="panel-title titulo-painel">
                            <span class="icones-paineis-info glyphicon glyphicon-tag"></span>&nbsp;
                            ASP.NET WEB API 2
                        </h3>
                    </div>
                    <div class="panel-body corpo-painel">
                        <div class="progress progress-striped active">
                            <div class="pg-asp-net-web-api progress-bar progress-bar-danger" role="progressbar"
                                 aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                                <span class="sr-only">85% Completo</span>
                                85%
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="panel panel-default painel-competencia text-center wow fadeInDown">
                    <div class="painel-competencia-cabecalho">
                        <h3 class="panel-title titulo-painel">
                            <span class="icones-paineis-info glyphicon glyphicon-tag"></span>&nbsp;
                            C#
                        </h3>
                    </div>
                    <div class="panel-body corpo-painel">
                        <div class="progress progress-striped active">
                            <div class="pg-asp-net-web-api progress-bar progress-bar-danger" role="progressbar"
                                 aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                                <span class="sr-only">85% Completo</span>
                                85%
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="panel panel-default painel-competencia text-center wow fadeInDown">
                    <div class="painel-competencia-cabecalho">
                        <h3 class="panel-title titulo-painel">
                            <span class="icones-paineis-info glyphicon glyphicon-tag"></span>&nbsp;
                            CSS 3
                        </h3>
                    </div>
                    <div class="panel-body corpo-painel">
                        <div class="pg-design-patterns progress-bar progress-bar-danger" role="progressbar"
                             aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                            <span class="sr-only">85% Completo</span>
                            85%
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row wow zoomInUp">
            <div class="col-xs-12 col-md-3">
                <div class="panel panel-default painel-competencia text-center wow fadeInDown">
                    <div class="painel-competencia-cabecalho">
                        <h3 class="panel-title titulo-painel">
                            <span class="icones-paineis-info glyphicon glyphicon-tag"></span>&nbsp;
                            HTML 5
                        </h3>
                    </div>
                    <div class="panel-body corpo-painel">
                        <div class="progress progress-striped active">
                            <div class="pg-html progress-bar progress-bar-danger" role="progressbar"
                                 aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                <span class="sr-only">80% Completo</span>
                                80%
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="panel panel-default painel-competencia text-center wow fadeInDown">
                    <div class="painel-competencia-cabecalho">
                        <h3 class="panel-title titulo-painel">
                            <span class="icones-paineis-info glyphicon glyphicon-tag"></span>&nbsp;
                            JavaScript
                        </h3>
                    </div>
                    <div class="panel-body corpo-painel">
                        <div class="progress progress-striped active">
                            <div class="pg-angular progress-bar progress-bar-danger" role="progressbar"
                                 aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                                <span class="sr-only">70% Completo</span>
                                70%
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="panel panel-default painel-competencia text-center wow fadeInDown">
                    <div class="painel-competencia-cabecalho">
                        <h3 class="panel-title titulo-painel">
                            <span class="icones-paineis-info glyphicon glyphicon-tag"></span>&nbsp;
                            jQuery
                        </h3>
                    </div>
                    <div class="panel-body corpo-painel">
                        <div class="progress progress-striped active">
                            <div class="pg-angular progress-bar progress-bar-danger" role="progressbar"
                                 aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                                <span class="sr-only">70% Completo</span>
                                70%
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="panel panel-default painel-competencia text-center wow fadeInDown">
                    <div class="painel-competencia-cabecalho">
                        <h3 class="panel-title titulo-painel">
                            <span class="icones-paineis-info glyphicon glyphicon-tag"></span>&nbsp;
                            Twitter Bootstrap
                        </h3>
                    </div>
                    <div class="panel-body corpo-painel">
                        <div class="progress progress-striped active">
                            <div class="pg-asp-net-web-api progress-bar progress-bar-danger" role="progressbar"
                                 aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                                <span class="sr-only">85% Completo</span>
                                85%
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row wow zoomInUp">
            <div class="col-xs-12 col-md-3">
                <div class="panel panel-default painel-competencia text-center wow fadeInDown">
                    <div class="painel-competencia-cabecalho">
                        <h3 class="panel-title titulo-painel">
                            <span class="icones-paineis-info glyphicon glyphicon-tag"></span>&nbsp;
                            Microsoft SQL Server
                        </h3>
                    </div>
                    <div class="panel-body corpo-painel">
                        <div class="progress progress-striped active">
                            <div class="pg-design-patterns progress-bar progress-bar-danger" role="progressbar"
                                 aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                                <span class="sr-only">60% Completo</span>
                                60%
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="panel panel-default painel-competencia text-center wow fadeInDown">
                    <div class="painel-competencia-cabecalho">
                        <h3 class="panel-title titulo-painel">
                            <span class="icones-paineis-info glyphicon glyphicon-tag"></span>&nbsp;
                            ASP.NET Razor
                        </h3>
                    </div>
                    <div class="panel-body corpo-painel">
                        <div class="progress progress-striped active">
                            <div class="pg-dev-soft progress-bar progress-bar-danger" role="progressbar"
                                 aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                                <span class="sr-only">90% Completo</span>
                                90%
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="panel panel-default painel-competencia text-center wow fadeInDown">
                    <div class="painel-competencia-cabecalho">
                        <h3 class="panel-title titulo-painel">
                            <span class="icones-paineis-info glyphicon glyphicon-tag"></span>&nbsp;
                            Ninject.MVC 4
                        </h3>
                    </div>
                    <div class="panel-body corpo-painel">
                        <div class="progress progress-striped active">
                            <div class="pg-angular progress-bar progress-bar-danger" role="progressbar"
                                 aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                                <span class="sr-only">70% Completo</span>
                                70%
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="panel panel-default painel-competencia text-center wow fadeInDown">
                    <div class="painel-competencia-cabecalho">
                        <h3 class="panel-title titulo-painel">
                            <span class="icones-paineis-info glyphicon glyphicon-tag"></span>&nbsp;
                            Entity Framework 6
                        </h3>
                    </div>
                    <div class="panel-body corpo-painel">
                        <div class="progress progress-striped active">
                            <div class="pg-asp-net-web-api progress-bar progress-bar-danger" role="progressbar"
                                 aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                                <span class="sr-only">85% Completo</span>
                                85%
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row wow zoomInUp">
            <div class="col-xs-12 col-md-3">
                <div class="panel panel-default painel-competencia text-center wow fadeInDown">
                    <div class="painel-competencia-cabecalho">
                        <h3 class="panel-title titulo-painel">
                            <span class="icones-paineis-info glyphicon glyphicon-tag"></span>&nbsp;
                            Dev. Web Apps
                        </h3>
                    </div>
                    <div class="panel-body corpo-painel">
                        <div class="progress progress-striped active">
                            <div class="pg-asp-net-web-api progress-bar progress-bar-danger" role="progressbar"
                                 aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                                <span class="sr-only">85% Completo</span>
                                85%
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="panel panel-default painel-competencia text-center wow fadeInDown">
                    <div class="painel-competencia-cabecalho">
                        <h3 class="panel-title titulo-painel">
                            <span class="icones-paineis-info glyphicon glyphicon-tag"></span>&nbsp;
                            DDD
                        </h3>
                    </div>
                    <div class="panel-body corpo-painel">
                        <div class="progress progress-striped active">
                            <div class="pg-asp-net-web-api progress-bar progress-bar-danger" role="progressbar"
                                 aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                                <span class="sr-only">85% Completo</span>
                                85%
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="panel panel-default painel-competencia text-center wow fadeInDown">
                    <div class="painel-competencia-cabecalho">
                        <h3 class="panel-title titulo-painel">
                            <span class="icones-paineis-info glyphicon glyphicon-tag"></span>&nbsp;
                            Engen. de Software
                        </h3>
                    </div>
                    <div class="panel-body corpo-painel">
                        <div class="progress progress-striped active">
                            <div class="pg-design-patterns progress-bar progress-bar-danger" role="progressbar"
                                 aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                                <span class="sr-only">60% Completo</span>
                                60%
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="panel panel-default painel-competencia text-center wow fadeInDown">
                    <div class="painel-competencia-cabecalho">
                        <h3 class="panel-title titulo-painel">
                            <span class="icones-paineis-info glyphicon glyphicon-tag"></span>&nbsp;
                            Visual Studio 2013
                        </h3>
                    </div>
                    <div class="panel-body corpo-painel">
                        <div class="progress progress-striped active">
                            <div class="pg-html progress-bar progress-bar-danger" role="progressbar"
                                 aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                <span class="sr-only">80% Completo</span>
                                80%
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="container-competencia-2" class="container-fluid wow fadeInUp">
        <div class="row">
            <div class="col-xs-12 col-md-offset-2 col-md-8">
                <p class="container-texto">
                    Os valores das barras de progresso procuram retratar a realidade, mas nunca procurando
                    mostrar que possuo conhecimento total da tecnologia. Procuro sempre me atualizar com cursos,
                    fóruns na internet, dentre outras fontes de informação disponíveis.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-offset-2 col-md-8">
                <p class="container-texto">
                    Esta lista procura resumir o meu conhecimento, evidenciando o contexto sob o qual planejo
                    construir a minha carreira no ramo da Tecnologia da Informação. Sendo assim, esta lista pode
                    modificar constantemente.
                </p>
            </div>
        </div>
    </div>
</main>