<main>
    <div class="container-fluid banner-sobre-mim wow fadeInDown">
        <div class="row">
            <div class="col-xs-12 col-md-offset-3 col-md-6">
                <p class="text-center">
                    <h1 class="text-center">
                        <span class="glyphicon glyphicon-flag"></span>
                        &nbsp;SOBRE MIM
                    </h1>
                </p>
            </div>
        </div>
    </div>
    <div id="container-sobre-mim-1" class="container-fluid wow fadeInDown">
        <div class="row">
            <div class="col-xs-12 col-md-offset-2 col-md-3">
                <img src="../../imagens/fotos_pessoais/eu.jpg" alt="Gustavo de Araujo Oliveira"
                     class="img-rounded img-responsive img-thumbnail center-block img-sobre-mim-1" />
            </div>
            <div class="col-xs-12 col-md-7">
                <div class="row center-block">
                    <div class="col-xs-12 col-md-offset-2 col-md-8">
                        <h2 class="text-center">
                            <b>Olá, meu nome é Gustavo de Araujo Oliveira</b>
                        </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-offset-2 col-md-8">
                        <p class="container-texto">
                            Seja bem vindo a página sobre o meu perfil. Nela você conhecerá um pouco sobre minha
                            história, minhas virtudes e meus planos para o futuro.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-offset-2 col-md-8">
                        <p class="container-texto">
                            Nesta página contarei um pouco de como encontrei e acabei me apaixonado por este ramo,
                            bem como minhas experiências adquiridas pelos lugares por onde passei.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="container-sobremim-2" class="container-fluid wow fadeInUp">
        <div class="row">
            <div class="col-xs-12 col-md-7 center-block">
                <div class="row">
                    <div class="col-xs-12 col-md-offset-2 col-md-8">
                        <h2 class="text-center">
                            <b>Breve resumo de minha história</b>
                        </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-offset-2 col-md-8">
                        <p class="container-texto">
                            Nasci no dia 26 de janeiro de 1993, na cidade de Araguari, Minas Gerais.
                            Meus pais tinham um supermercado na cidade e morávamos em um prédio atrás do
                            mesmo.
                        </p>
                        <p class="container-texto">
                            Depois de um tempo, meus pais resolveram fechar o supermercado e mudar de cidade.
                            Acabamos indo para Patos de Minas/MG. Lá resolveram abrir um restaurante em um
                            dos melhores pontos da cidade (que era no entorno da lagoa que fica localizada
                            no centro da cidade).
                        </p>
                        <p class="container-texto">
                            Novamento o destino resolveu modificar as coisas e em pouco tempo acabamos nos mudando
                            para Belo Horizonte/MG, onde eles resolveram tentar novamente o ramo de restaurante, o
                            que acabou novamente não dando certo. Ao final, meus pais acabaram se divorciando e acabei
                            me mudando para Dores do Indaiá/MG com a minha mãe, onde estou atualmente.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-5">
                <div class="row paineis-sobremim-cidades">
                    <div class="col-xs-12 col-md-6">
                        <div class="thumbnail painel-cidade wow fadeInUp">
                            <img class="img-responsive" alt="Araguari/MG"
                                 src="../../imagens/cidades/araguari.jpg" />
                            <h3 class="text-center">Araguari/MG</h3>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="thumbnail painel-cidade wow fadeInUp">
                            <img class="img-responsive" alt="Patos de Minas/MG" 
                                 src="../../imagens/cidades/patos_de_minas.jpg" />
                            <h3 class="text-center">Patos de Minas/MG</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="thumbnail painel-cidade wow fadeInUp">
                            <img class="img-responsive" alt="Belo Horizonte/MG"
                                 src="../../imagens/cidades/belo_horizonte.jpg" />
                            <h3 class="text-center">Belo Horizonte/MG</h3>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="thumbnail painel-cidade wow fadeInUp">
                            <img class="img-responsive" alt="Dores do Indaiá/MG"
                                 src="../../imagens/cidades/dores_do_indaia.jpg" />
                            <h3 class="text-center">Dores do Indaiá/MG</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid wow fadeInUp">
        <div class="row">
            <div class="col-xs-12 col-md-offset-2 col-md-3">
                <img src="../../imagens/fotos_pessoais/formatura.jpg" alt="Gustavo de Araujo Oliveira"
                     class="img-rounded img-responsive img-thumbnail img-sobre-mim-2" />
            </div>
            <div class="col-xs-12 col-md-7">
                <br />
                <div class="row">
                    <div class="col-xs-12 col-md-offset-2 col-md-8">
                        <h2 class="text-center">
                            <b>Formação acadêmica e o desenvolvimento de software</b>
                        </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-offset-2 col-md-8">
                        <p class="container-texto">
                            Quando entrei no ensino médio, em Dores do Indaiá, não tinha muita ideia do que
                            queria para minha vida, mas sempre houvi falar bem da área de Tecnologia da Informação.
                            Como meu curso estava vinculado à formação de Técnicos em Informática, pude
                            ver do que se tratava e comecei a gostar da área.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-offset-2 col-md-8">
                        <p class="container-texto">
                            Quando entrei na faculdade e comecei a ter aulas de desenvolvimento de software, principalmente
                            na plataforma .NET, identifiquei ali algo que havia gostado. Quando começamos a desenvolver aplicativos
                            C# no Visual Studio durante as aulas, comecei a pesquisar mais a fundo sobre a plataforma
                            e foi quando encontrei o ASP.NET MVC. Ao final do curso já tinha meus objetivos traçados e sabia
                            que queria trabalhar com o desenvolvimento web.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="container-sobremim-3" class="container-fluid wow fadeInUpBig">
        <div class="row">
            <div class="col-xs-12 col-md-7">
                <br /><br />
                <div class="row">
                    <div class="col-xs-12 col-md-offset-2 col-md-8">
                        <h2 class="text-center">
                            <b>Minha vida pessoal</b>
                        </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-offset-2 col-md-8">
                        <p class="container-texto">
                            Atualmente tenho dedicado meu tempo a aumentar meus conhecimentos através
                            de cursos online como o Alura.
                        </p>
                        <p class="container-texto">
                            Atualmente morando em Dores do Indaiá, tenho planejado a bastante tempo me
                            mudar novamente para Belo Horizonte, mas para que eu concretize isso, preciso
                            primeiramente encontrar um emprego.
                        </p>
                        <p class="container-texto">
                            Tenho uma namorada com quem estou junto a mais 6 anos. Ela é uma ótima pessoa, sempre estando ao meu lado
                            me apoiando quando nem eu mesmo acreditei em mim mesmo. Em um futuro breve pretendo
                            ser mais que namorado para ela.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <img src="../../imagens/fotos_pessoais/gustavo_e_joice.jpg" alt="Gustavo & Joice"
                     class="img-rounded img-responsive img-thumbnail img-sobre-mim-2" />
            </div>
        </div>
    </div>
</main>