<div ng-include src="'partials/slide/slide.html'"></div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="jumbotron">
                <h2 class="page-header">
                    Sistema de Cotação de Produtos
                </h2>
                <p>Encontre as melhores ofertas de seus representantes para o seu comércio!</p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-3">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="text-center">Cotação</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <span class="glyphicon glyphicon-piggy-bank icone-1 center-block"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <p class="text-justify">
                                Encontre os produtos mais baratos para sua empresa através do nosso sistema de
                                cotação!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <a href="/cotacao" class="btn btn-success center-block">
                        <span class="glyphicon glyphicon-eye-open"></span>
                        &nbsp;Visualizar
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-3">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="text-center">Fornecedores</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <span class="glyphicon glyphicon-flag icone-1 center-block"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <p class="text-justify">
                                Cadastre os fornecedores e tenha informações importantes em mãos para entrar em
                                contato!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <a href="/fornecedor" class="btn btn-success center-block">
                        <span class="glyphicon glyphicon-eye-open"></span>
                        &nbsp;Visualizar
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-3">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="text-center">Produtos</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <span class="glyphicon glyphicon-phone icone-1 center-block"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <p class="text-justify">
                                Cadastre os produtos do seu estoque que estão acabando para encontrar as ofertas mais
                                em conta!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <a href="/produto" class="btn btn-success center-block">
                        <span class="glyphicon glyphicon-eye-open"></span>
                        &nbsp;Visualizar
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-3">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="text-center">Representantes</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <span class="glyphicon glyphicon-user icone-1 center-block"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <p class="text-justify">
                                Cadastre os representates comerciais de seus fornecedores e encontre o produto
                                mais barato oferecido por ele!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <a href="/representante" class="btn btn-success center-block">
                        <span class="glyphicon glyphicon-eye-open"></span>
                        &nbsp;Visualizar
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="jumbotron">
                <blockquote>
                    <p>
                        <i>
                            Com este sistema consegui organizar as ofertas que recebia dos meus fornecedores.
                            Nele os representantes precisam somente cadastrar o produto com seu valor, e quando
                            for preciso, basta pesquisar pela menor oferta. Simples, prático e fácil.
                        </i>
                    </p>
                    <cite>José Fonseca de Sousa, proprietário de um supermercado</cite>
                </blockquote>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="jumbotron">
                <blockquote>
                    <p>
                        <i>
                            Ferramenta bastante interessante para utilizar na reposição do estoque. Antes era
                            necessário gastar horas ligando para representates e anotando as ofertas para descobrir
                            qual a melhor. Agora basta entrar no sistema e pesquisar.
                        </i>
                    </p>
                    <cite>Wagner de Oliveira Castro, proprietário de uma loja elétrica</cite>
                </blockquote>
            </div>
        </div>
    </div>
</div>