<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="jumbotron jumb-titulo">
            <h2 class="text-center">
                <span class="glyphicon glyphicon-piggy-ban"></span>
                &nbsp;Venda nº {{venda.id}}
            </h2>
            <p class="text-center">Informações Detalhadas da Venda</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="thumbnail container-painel-home">
            <p class="text-center">
                Aqui nesta página você encontrará todas as informações registradas no sistema referente à
                venda selecionada.
            </p>
            <p class="text-center">
                Caso deseje alterar alguma informação basta clicar no botão <i>"Editar"</i>. Caso deseje retornar
                para a página de listagem das vendas basta clicar em <i>"Cancelar"</i>.
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="text-center panel-title">Informações Pessoais</h2>
            </div>
            <div class="panel-body">
                <table class="table table-responsive table-striped table-hover">
                    <tr>
                        <td>Data:</td>
                        <td><strong>{{venda.data | date: 'dd/MM/yyyy'}}</strong></td>
                    </tr>
                    <tr>
                        <td>ID do Proprietário:</td>
                        <td><strong>{{venda.produtorRuralId}}</strong></td>
                    </tr>
                    <tr>
                        <td>Número do documento:</td>
                        <td><strong>{{venda.numeroDocumento}}</strong></td>
                    </tr>
                    <tr>
                        <td>Nome do Comprador:</td>
                        <td><strong>{{venda.nomeComprador}}</strong></td>
                    </tr>
                    <tr>
                        <td>Valor:</td>
                        <td><strong>{{venda.valor | currency}}</strong></td>
                    </tr>
                    <tr>
                        <td>Quantidade de Cabeças:</td>
                        <td><strong>{{venda.quantidadeCabecas}}</strong></td>
                    </tr>
                    <tr>
                        <td>Descrição:</td>
                        <td><strong>{{venda.descricao}}</strong></td>
                    </tr>
                </table>
            </div>
            <div class="panel-footer">
                <a href="/vendagado/edit/{{venda.id}}" class="btn btn-primary">
                    <span class="glyphicon glyphicon-pencil"></span>
                    &nbsp;Editar
                </a>
                <a href="/vendagado" class="btn btn-default">
                    <span class="glyphicon glyphicon-remove"></span>
                    &nbsp;Cancelar
                </a>
            </div>
        </div>
    </div>
</div>     