<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="jumbotron jumb-titulo">
            <h2 class="text-center">
                <span class="glyphicon glyphicon-piggy-ban"></span>
                Pesquisa de Vendas
            </h2>
            <p class="text-center">Área de Pesquisa de Vendas de Gado.</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="thumbnail container-painel-home">
            <p class="text-center">Seja bem vindo a área de pesquisa das vendas de gado!</p>
            <p class="text-center">
                Aqui nesta página você encontrará todas as compras registradas no sistema! Nela também é possível
                efetuar várias pesquisas através dos campos com o ícone <span class="glyphicon glyphicon-search"></span>.
            </p>
            <p class="text-center">
                Caso deseje visualizar os detalhes de alguma posse específica ou editar suas informações basta
                clicar em <i>"Detalhes"</i>. Caso deseje apagar do sistema uma venda específica basta clicar em <i>"Deletar"</i>.
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div ng-include src="'partials/venda_gado/formulario-pesquisa.html'"></div>
    </div>
</div>