<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="jumbotron banner-header">
                <h2 class="page-header">
                    <span class="glyphicon glyphicon-phone"></span>
                    &nbsp; Pesquisa de Produtos
                </h2>
                <p>Área de Pesquisa de Produtos.</p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="thumbnail texto-explicativo">
                <p class="text-center">Seja bem vindo a área de pesquisa dos produtos!</p>
                <p class="text-center">
                    Aqui nesta página você encontrará todos os produtos registrados no sistema! Nela também é possível
                    efetuar várias pesquisas através dos campos com o ícone <span class="glyphicon glyphicon-search"></span>.
                </p>
                <p class="text-center">
                    Caso deseje visualizar os detalhes de algum produto específico ou editar suas informações basta
                    clicar em <i>"Detalhes"</i>. Caso deseje apagar do sistema um produto específico basta clicar em <i>"Deletar"</i>.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div ng-include src="'partials/produto/formulario-pesquisa.html'"></div>
        </div>
    </div>
</div>