<main>
    <div class="container-fluid">
        <div class="row">
            <!--Criando o slide com informações-->
            <div id="carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <!--Criando as imagens para serem renderizadas-->
                    <div class="item active">
                        <img class="fullscreen" src="../../imagens/slides/asp_net_mvc.jpg" alt="ASP.NET MVC 4" />
                    </div>
                    <div class="item">
                        <img class="fullscreen" src="../../imagens/slides/asp_net_web_api.jpg" alt="ASP.NET WEB API" />
                    </div>
                    <div class="item">
                        <img class="fullscreen" src="../../imagens/slides/ddd.jpg" alt="Domain Driven Design" />
                    </div>
                    <div class="item">
                        <img class="fullscreen" src="../../imagens/slides/design_patterns.jpg" alt="Design Patterns em C#" />
                    </div>
                    <div class="item">
                        <img class="fullscreen" src="../../imagens/slides/html_css_javascript.jpg" alt="HTML5, CSS3 e Javascript" />
                    </div>
                    <div class="item">
                        <img class="fullscreen" src="../../imagens/slides/jquery_angular.jpg" alt="JQuery e Angular" />
                    </div>
                    <div class="item">
                        <img class="fullscreen" src="../../imagens/slides/lemas.jpg" alt="Dedicação, Organização e Seriedade" />
                    </div>
                    <!--Criando os controles do slide-->
                    <a href="/" data-target="#carousel" data-slide="prev" class="left carousel-control">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a href="/" data-target="#carousel" data-slide="next" class="right carousel-control">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="container-home-1">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="panel panel-default painel-home text-center wow fadeInDown">
                    <div class="painel-home-cabecalho">
                        <h2 class="panel-title titulo-painel">Formação</h2>
                    </div>
                    <div class="panel-body">
                        <br />
                        <a href="/formacao" class="center-block icone-1" title="Clique aqui e veja a minha formação acadêmica!">
                            <span class="glyphicon glyphicon-education"></span>
                        </a>
                        <div class="row">
                            <p class="texto-painel">
                                Veja mais sobre a minha formação acadêmica clicando no botão acima.
                                Você será levado a uma nova página com uma lista de instituições as quais
                                passei pela minha vida acadêmica. Nela será possível ver o período, a cidade,
                                dentre outras informações.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="panel panel-default painel-home text-center wow fadeInDown">
                    <div class="painel-home-cabecalho">
                        <h2 class="panel-title titulo-painel">Experiência</h2>
                    </div>
                    <div class="panel-body">
                        <br />
                        <a href="/experiencia" class="center-block icone-1" title="Clique aqui e veja as minhas experiências profissionais!">
                            <span class="glyphicon glyphicon-briefcase"></span>
                        </a>
                        <div class="row">
                            <p class="texto-painel">
                                Veja mais sobre a minha experiência profissional clicando no botão acima.
                                Você será levado a uma nova página com uma lista de instituições as quais
                                prestei meus serviços ao longo destes anos. Nela será possível ver o período,
                                a cidade, o cargo, dentre outras informações.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="panel panel-default painel-home text-center wow fadeInDown">
                    <div class="painel-home-cabecalho">
                        <h2 class="panel-title titulo-painel">Portfólio</h2>
                    </div>
                    <div class="panel-body">
                        <br />
                        <a href="/portfolio" class="center-block icone-1" title="Clique aqui e veja o meu portfólio!">
                            <span class="glyphicon glyphicon-folder-open"></span>
                        </a>
                        <div class="row">
                            <p class="texto-painel">
                                Veja mais sobre o meu portfólio clicando no botão acima. Você será levado a
                                uma nova página na qual deixei alguns exemplos de web apps as quais já produzi,
                                bem como sua demonstração de funcionalidade em tempo real. Todos os apps compartilham
                                do mesmo serviço (Web Api).
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="container-home-2" class="container-fluid wow fadeInUp">
        <div class="row">
            <h2 class="text-center">Competências</h2>
        </div>
        <div class="row">
            <a href="/competencia" class="center-block icone-2" title="Clique aqui e veja as minhas competências!">
                <span class="glyphicon glyphicon-tags"></span>
            </a>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-offset-2 col-md-8">
                <p class="container-texto">
                    Veja mais sobre as minhas competências clicando no botão acima. Você será levado a
                    uma nova página na qual deixei uma lista com as minhas principais habilidades e competências,
                    as quais contém um valor simbolizando o meu nível de conhecimento.
                </p>
            </div>
        </div>
    </div>
    <div id="container-home-3" class="container-fluid wow fadeInUp">
        <div class="row">
            <div class="col-xs-12 col-md-3">
                <img class="center-block img-container-3 img-thumbnail img-rounded img-responsive"
                     src="../../imagens/fotos_pessoais/eu.jpg" alt="Gustavo de Araujo Oliveira" />
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="row">
                    <h2 class="text-center">Sobre Mim</h2>
                </div>
                <div class="row">
                    <a href="/sobremim" class="center-block icone-3" title="Clique aqui e veja a minha história!">
                        <span class="glyphicon glyphicon-flag"></span>
                    </a>
                </div>
                <div class="row">
                    <p class="container-texto">
                        Conheça mais o meu perfil clicando no botão acima. Você será levado a uma nova página na qual descrevo minha história,
                        minha relação com desenvolvimento de software e um breve resumo sobre minha vida pessoal.
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>