<main>
    <div class="container-fluid banner-formacao wow fadeInDown">
        <div class="row">
            <div class="col-xs-12 col-md-offset-3 col-md-6">
                <p class="text-center">
                    <h1 class="center-block text-center">
                        <span class="glyphicon glyphicon-education"></span>
                        &nbsp;FORMAÇÃO ACADÊMICA
                    </h1>
                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid wow fadeInDown">
        <div class="row">
            <div class="col-xs-12 col-md-offset-2 col-md-8">
                <p class="container-texto">
                    Seja bem vindo a minha página referente à minha formação acadêmica. Nela você encontrará
                    uma lista com instituições as quais passei durante a minha vida acadêmica. Procurei deixar
                    de fora da lista as instituições as quais cursei do ensino fundamental para baixo, pois
                    não são relevantes para o propósito desta página.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-offset-2 col-md-8">
                <p class="container-texto">
                    Cada painel possui o nome da instituição no seu cabeçalho. Abaixo dele, é possivel visualizar
                    uma foto sobre a instalação física da mesma. Em seguida, pode-se visualizar informações importantes
                    como perído do curso, seu tipo, a localização da instituição e a descrição das atividades do curso.
                </p>
            </div>
        </div>
    </div>
    <div id="container-formacao-1" class="container-fluid wow zoomIn">
        <div class="row wow zoomInUp">
            <h2 class="text-center">
                Instituições
            </h2>
            <br />
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-offset-2 col-md-4">
                <div class="panel panel-default painel-formacao text-center wow fadeInUp">
                    <div class="painel-formacao-cabecalho">
                        <h2 class="panel-title titulo-painel">
                            <span class="glyphicon glyphicon-book"></span>
                            &nbsp; Escola Municipal São Luis de Ensino Médio
                        </h2>
                    </div>
                    <div class="panel-body corpo-painel">
                        <img class="img-responsive img-painel"
                             src="../../imagens/formacao/escola_sao_luis.jpg" />
                        <table class="table table-responsive">
                            <tbody>
                                <tr>
                                    <th>
                                        <h4 class="text-center">
                                            <strong>Informações Gerais</strong>
                                        </h4>
                                    </th>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="icones-paineis-info glyphicon glyphicon-calendar"></span>
                                        &nbsp; 2008 - 2011
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="icones-paineis-info glyphicon glyphicon-blackboard"></span>
                                        Ensino Médio/Técnico em Informática Industrial
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="icones-paineis-info glyphicon glyphicon-globe"></span>
                                        &nbsp; Dores do Indaiá/MG
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="text-justify">
                                            <span class="icones-paineis-info glyphicon glyphicon-info-sign"></span>
                                            Manutenção de hardware e software de computadores, montagem de redes domésticas,
                                            desenvolvimento de softwares para desktop e web, análise e planejamento de sistemas
                                            obedecendo as melhores práticas recomendadas.
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="panel panel-default painel-formacao text-center wow fadeInUp">
                    <div class="painel-formacao-cabecalho">
                        <h2 class="panel-title titulo-painel">
                            <span class="glyphicon glyphicon-book"></span>
                            &nbsp; Faculdade Alis de Bom Despacho
                        </h2>
                    </div>
                    <div class="panel-body corpo-painel">
                        <img class="img-responsive img-painel"
                             src="../../imagens/formacao/faculdade_alis.jpg" />
                        <table class="table table-responsive">
                            <tbody>
                                <tr>
                                    <th>
                                        <h4 class="text-center">
                                            <strong>Informações Gerais</strong>
                                        </h4>
                                    </th>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="icones-paineis-info glyphicon glyphicon-calendar"></span>
                                        2012 - 2015
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="icones-paineis-info glyphicon glyphicon-blackboard"></span>
                                        Bacharelado em Sistemas de Informação
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="icones-paineis-info glyphicon glyphicon-globe"></span>
                                        &nbsp; Bom Despacho/MG
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="text-justify">
                                            <span class="icones-paineis-info glyphicon glyphicon-info-sign"></span>
                                            Desenvolver softwares obedecendo os conceitos e design patterns referentes
                                            às respectivas linguagens, planejamento e manutenção de redes de acordo com
                                            as normas EIA/TIA, gestão de processos seguindo recomendações do PMBOK.
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="container-formacao-2" class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <div class="jumbotron depoimento-formacao wow slideInRight">
                    <blockquote>
                        <p>
                            <i>
                                "Excelente aluno. Bastante pontual, centrado, procura sempre obedecer aos prazos
                                de entrega das atividades. Sempre emprega bastante dedicação ao que faz."
                            </i>
                        </p>
                        <cite>Edmilson Ferreia da Silva, professor na Faculdade Alis de Bom Despacho</cite>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-offset-4 col-md-8">
                <div class="jumbotron depoimento-formacao wow slideInLeft">
                    <blockquote>
                        <p>
                            <i>
                                "Dedicação é algo que nunca faltou a ele. Vejo que poderá ter uma grande carreira
                                na área de TI. Talvez um dia venha a abrir uma empresa, ou virar gerente de alguma instuição,
                                devido a liderança demonstrada em vários trabalhos acadêmicos."
                            </i>
                        </p>
                        <cite>Deiverson Marcos Fiúza, professor na Escola Municipal São Luis de Ensino Médio</cite>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</main>