<header>
    <!--Criando o menu através do bootstrap-->
    <nav id="barraNavegacao" class="navbar navbar-fixed-top navbar-inverse">
        <!--Criando o cabeçalho da barra de navegação-->
        <div class="navbar-header">
            <a href="/home" class="navbar-brand">
                <strong>Gustavo <span class="glyphicon glyphicon-pawn"></span> .NET DEV</strong>
            </a>
            <button class="navbar-toggle collapsed" type="button" data-target="#menu-collapsed" data-toggle="collapse">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar botao-menu-responsivo"></span>
                <span class="icon-bar botao-menu-responsivo"></span>
                <span class="icon-bar botao-menu-responsivo"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="menu-collapsed">
            <ul class="nav navbar-nav">
                <li><a href="/competencia">Competências</a></li>
                <li><a href="/experiencia">Experiências</a></li>
                <li><a href="/formacao">Formação</a></li>
                <li><a href="/portfolio">Portfólio</a></li>
                <li><a href="/sobremim">Sobre Mim</a></li>
                <li><a href="/contato">Contato</a></li>
            </ul>
        </div>
    </nav>
</header>