<div class="panel panel-default">
    <div class="panel-body">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="" data-target="#razaoTabela" data-toggle="tab">Razão Social</a></li>
            <li role="presentation"><a href="" data-target="#cnpjTabela" data-toggle="tab">CNPJ</a></li>
            <li role="presentation"><a href="" data-target="#inscricaoTabela" data-toggle="tab">Inscr.Estadual</a></li>
            <li role="presentation"><a href="" data-target="#logradouroTabela" data-toggle="tab">Logradouro</a></li>
            <li role="presentation"><a href="" data-target="#cidadeTabela" data-toggle="tab">Cidade</a></li>
            <li role="presentation"><a href="" data-target="#estadoTabela" data-toggle="tab">Estado</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade in active" id="razaoTabela">
                <div class="thumbnail">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                        <input ng-model="filtro.razaoSocial" class="form-control" name="razaoSocial" type="text" placeholder="Digite aqui a razão social a ser pesquisada."/>
                    </div>
                </div>
                <div class="thumbnail">
                    <div ng-include src="'partials/fornecedor/tabelas_pesquisa/tabela-razao-social.html'"></div>
                </div>
            </div>
            <div class="tab-pane fade" id="cnpjTabela">
                <div class="thumbnail">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                        <input id="cnpjFornecedorPesquisa" ng-model="filtro.cnpj" class="form-control" name="cnpj" type="text" placeholder="Digite aqui o CNPJ a ser pesquisado."/>
                    </div>
                </div>
                <div class="thumbnail">
                    <div ng-include src="'partials/fornecedor/tabelas_pesquisa/tabela-cnpj.html'"></div>
                </div>
            </div>
            <div class="tab-pane fade" id="inscricaoTabela">
                <div class="thumbnail">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                        <input ng-model="filtro.inscricaoEstadual" class="form-control" name="pesquisaProdutor" type="text" placeholder="Digite aqui a inscrição estadual a ser pesquisada."/>
                    </div>
                </div>
                <div class="thumbnail">
                    <div ng-include src="'partials/fornecedor/tabelas_pesquisa/tabela-inscricao.html'"></div>
                </div>
            </div>
            <div class="tab-pane fade" id="logradouroTabela">
                <div class="thumbnail">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                        <input ng-model="filtro.endereco.logradouro" class="form-control" name="pesquisaProdutor" type="text" placeholder="Digite aqui o logradouro do produtor rural a ser pesquisado."/>
                    </div>
                </div>
                <div class="thumbnail">
                    <div ng-include src="'partials/fornecedor/tabelas_pesquisa/tabela-logradouro.html'"></div>
                </div>
            </div>
            <div class="tab-pane fade" id="cidadeTabela">
                <div class="thumbnail">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                        <input ng-model="filtro.endereco.cidade" class="form-control" name="pesquisaProdutor" type="text" placeholder="Digite aqui a cidade do produtor rural a ser pesquisada."/>
                    </div>
                </div>
                <div class="thumbnail">
                    <div ng-include src="'partials/fornecedor/tabelas_pesquisa/tabela-cidade.html'"></div>
                </div>
            </div>
            <div class="tab-pane fade" id="estadoTabela">
                <div class="thumbnail">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                        <select ng-model="filtro.endereco.estado" name="pesquisaProdutor" class="form-control">
                            <option value="">Escolha um estado</option>
                            <option value="AC">Acre</option>
                            <option value="AL">Alagoas</option>
                            <option value="AP">Amapá</option>
                            <option value="AM">Amazonas</option>
                            <option value="BA">Bahia</option>
                            <option value="CE">Ceará</option>
                            <option value="DF">Distrito Federal</option>
                            <option value="ES">Espírito Santo</option>
                            <option value="GO">Goiás</option>
                            <option value="MA">Maranhão</option>
                            <option value="MT">Mato Grosso</option>
                            <option value="MS">Mato Grosso do Sul</option>
                            <option value="MG">Minas Gerais</option>
                            <option value="PA">Pará</option>
                            <option value="PB">Paraíba</option>
                            <option value="PR">Paraná</option>
                            <option value="PE">Pernambuco</option>
                            <option value="PI">Piauí</option>
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="RN">Rio Grande do Norte</option>
                            <option value="RS">Rio Grande do Sul</option>
                            <option value="RR">Rondônia</option>
                            <option value="RR">Roráima</option>
                            <option value="SC">Santa Catarina</option>
                            <option value="SP">São Paulo</option>
                            <option value="SE">Sergipe</option>
                            <option value="TO">Tocantins</option>
                        </select>
                    </div>
                </div>
                <div class="thumbnail">
                    <div ng-include src="'partials/fornecedor/tabelas_pesquisa/tabela-estado.html'"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('#cnpjFornecedorPesquisa').mask('99.999.999/9999-99');
</script>