<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="jumbotron banner-header">
                <h2 class="page-header">
                    <span class="glyphicon glyphicon-flag"></span>
                    &nbsp; Pesquisa de Fornecedores
                </h2>
                <p>Área de Pesquisa de Fornecedores.</p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="thumbnail texto-explicativo">
                <p class="text-center">Seja bem vindo a área de pesquisa dos fornecedores!</p>
                <p class="text-center">
                    Aqui nesta página você encontrará todos os fornecedores registrados no sistema! Nela também é possível
                    efetuar várias pesquisas através dos campos com o ícone <span class="glyphicon glyphicon-search"></span>.
                </p>
                <p class="text-center">
                    Caso deseje visualizar os detalhes de algum fornecedores específico ou editar suas informações basta
                    clicar em <i>"Detalhes"</i>. Caso deseje apagar do sistema um representante específico basta clicar em <i>"Deletar"</i>.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div ng-include src="'partials/fornecedor/formulario-pesquisa.html'"></div>
        </div>
    </div>
</div>