<div class="loader" ng-hide="!carregandoTabela">
    <img src="../../../imagens/icones/ajax-loader.gif" class="loader" />
</div>
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table table-responsive table-hover table-striped table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th><b>Id</b></th>
                            <th><b>Produto</b></th>
                            <th><b>Preço</b></th>
                            <th><b>Ações</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="cotacao in cotacoesPorMenorPreco | filter: filtro: strict | startFrom: (currentPage - 1) * pageSize | limitTo: pageSize">
                            <td>{{cotacao.id}}</td>
                            <td>{{cotacao.produto.nome}}</td>
                            <td>{{cotacao.precoSugerido | currency}}</td>
                            <td>
                                <a href="/cotacao/oferta/detalhes/{{cotacao.id}}" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-list-alt"></span>
                                    &nbsp;Detalhar
                                </a>
                                &nbsp;
                                <a ng-click="removerOferta(cotacao)" href="" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-trash"></span>
                                    &nbsp;Apagar
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <uib-pagination total-items="cotacoes.length" ng-model="currentPage" items-per-page="pageSize"></uib-pagination>
            </div>
        </div>
    </div>
</div>