<div class="modal-body">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <a href="" class="icone-1 center-block">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <h3 class="text-center">{{mensagem}}</h3>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary center-block" type="button" ng-click="cancel()">OK</button>
</div>