<main>
    <div class="container-fluid banner-experiencia wow fadeInDown">
        <div class="row">
            <div class="col-xs-12 col-md-offset-3 col-md-6">
                <p class="text-center">
                    <h1 class="text-center">
                        <span class="glyphicon glyphicon-briefcase"></span>
                        &nbsp;EXPERIÊNCIA PROFISSIONAL
                    </h1>
                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid wow fadeInDown">
        <div class="row">
            <div class="col-xs-12 col-md-offset-2 col-md-8">
                <p class="container-texto">
                    Seja bem vindo a minha página referente às minhas experiências profissionais. Nela você encontrará
                    uma lista com empresas as quais passei durante a minha carreira profissional. Em seguida poderá
                    visualizar alguns depoimentos de ex-colegas de trabalho.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-offset-2 col-md-8">
                <p class="container-texto">
                    Cada painel possui o nome da empresa no seu cabeçalho. Abaixo dele, é possivel visualizar
                    uma foto sobre a instalação física da mesma. Em seguida, pode-se visualizar informações importantes
                    como perído de contratacao, o cargo, a localização da instituição e a descrição das atividades desemprenhadas.
                </p>
            </div>
        </div>
    </div>
    <div id="container-experiencia-1" class="container-fluid wow zoomIn">
        <div class="row">
            <h2 class="text-center">
                Empresas
            </h2>
            <br />
        </div>
        <div class="row  wow zoomInUp">
            <div class="col-xs-12 col-md-3">
                <div class="panel panel-default painel-experiencia text-center wow fadeInDown">
                    <div class="painel-experiencia-cabecalho">
                        <h3 class="panel-title titulo-painel">
                            <span class="glyphicon glyphicon-tower"></span>
                            &nbsp; Caixa Econ. Federal
                        </h3>
                    </div>
                    <div class="panel-body corpo-painel">
                        <img class="img-responsive img-painel-experiencia"
                             src="../../imagens/experiencia/caixa_dores.jpg" />
                        <table class="table table-responsive">
                            <tbody>
                                <tr>
                                    <th>
                                        <h4 class="text-center">
                                            <strong>Informações Gerais</strong>
                                        </h4>
                                    </th>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="icones-paineis-info glyphicon glyphicon-pawn"></span>
                                        &nbsp; Estágio
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="icones-paineis-info glyphicon glyphicon-calendar"></span>
                                        &nbsp; Setembro/2009 - Agosto/2011
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="icones-paineis-info glyphicon glyphicon-globe"></span>
                                        &nbsp; Dores do Indaiá/MG
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="text-justify">
                                            <span class="icones-paineis-info glyphicon glyphicon-wrench"></span>
                                            Abertura de contas, concessão de créditos, avaliações
                                            de disponibilidade de financiamento, desconto de títulos, cobrança e
                                            atendimento de pessoas jurídicas.
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="panel panel-default painel-experiencia text-center wow fadeInDown">
                    <div class="painel-experiencia-cabecalho">
                        <h3 class="panel-title titulo-painel">
                            <span class="glyphicon glyphicon-tower"></span>
                            &nbsp; GSM Engenharia
                        </h3>
                    </div>
                    <div class="panel-body corpo-painel">
                        <img class="img-responsive img-painel-experiencia"
                             src="../../imagens/experiencia/melo_contabil.jpg" />
                        <table class="table table-responsive">
                            <tbody>
                                <tr>
                                    <th>
                                        <h4 class="text-center">
                                            <strong>Informações Gerais</strong>
                                        </h4>
                                    </th>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="icones-paineis-info glyphicon glyphicon-pawn"></span>
                                        &nbsp; Auxiliar de Escritório
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="icones-paineis-info glyphicon glyphicon-calendar"></span>
                                        &nbsp; Dezembro/2011 - Dezembro/2015
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="icones-paineis-info glyphicon glyphicon-globe"></span>
                                        &nbsp; Dores do Indaiá/MG
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="text-justify">
                                            <span class="icones-paineis-info glyphicon glyphicon-wrench"></span>
                                            Medição de edificações para regularizações, confecção de plantas de edificações
                                            residenciais e comerciais e cálculos estruturais de edificações, dentre outras funções.
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="panel panel-default painel-experiencia text-center wow fadeInDown">
                    <div class="painel-experiencia-cabecalho">
                        <h3 class="panel-title titulo-painel">
                            <span class="glyphicon glyphicon-tower"></span>
                            &nbsp; Melo Contabil LTDA
                        </h3>
                    </div>
                    <div class="panel-body corpo-painel">
                        <img class="img-responsive img-painel-experiencia"
                             src="../../imagens/experiencia/melo_contabil.jpg" />
                        <table class="table table-responsive">
                            <tbody>
                                <tr>
                                    <th>
                                        <h4 class="text-center">
                                            <strong>Informações Gerais</strong>
                                        </h4>
                                    </th>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="icones-paineis-info glyphicon glyphicon-pawn"></span>
                                        &nbsp; Auxiliar de Escritório
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="icones-paineis-info glyphicon glyphicon-calendar"></span>
                                        &nbsp; Dezembro/2011 - Dezembro/2015
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="icones-paineis-info glyphicon glyphicon-globe"></span>
                                        &nbsp; Dores do Indaiá/MG
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="text-justify">
                                            <span class="icones-paineis-info glyphicon glyphicon-wrench"></span>
                                            Lançamento de notas fiscais de entrada, emissão de notas fiscais,
                                            manutenção de computadores, balanço financeiro de produtor rural para imposto de renda.
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="panel panel-default painel-experiencia text-center wow fadeInDown">
                    <div class="painel-experiencia-cabecalho">
                        <h3 class="panel-title titulo-painel">
                            <span class="glyphicon glyphicon-tower"></span>
                            &nbsp; Deiverson M. Fiuza
                        </h3>
                    </div>
                    <div class="panel-body corpo-painel">
                        <img class="img-responsive img-painel-experiencia"
                             src="../../imagens/experiencia/deiverson_marcos_fiuza_me.jpg" />
                        <table class="table table-responsive">
                            <tbody>
                                <tr>
                                    <th>
                                        <h4 class="text-center">
                                            <strong>Informações Gerais</strong>
                                        </h4>
                                    </th>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="icones-paineis-info glyphicon glyphicon-pawn"></span>
                                        &nbsp; Estágio
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="icones-paineis-info glyphicon glyphicon-calendar"></span>
                                        &nbsp; Janeiro/2015 - Dezembro/2015
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="icones-paineis-info glyphicon glyphicon-globe"></span>
                                        &nbsp; Dores do Indaiá/MG
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="text-justify">
                                            <span class="icones-paineis-info glyphicon glyphicon-wrench"></span>
                                            Desenvolvimento de softwares em ASP.NET MVC 4, criação de banco de dados no SQL Server,
                                            elaboração de documentação base (documento visão, etc).
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="container-experiencia-2" class="container-fluid wow fadeInUp">
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <div class="jumbotron depoimento-experiencia wow slideInRight">
                    <blockquote>
                        <p>
                            <i>
                                "Sempre que tinhamos um problema relacionado à computador ele conseguia
                                consertar o mais rápido possível. Sempre sabia o que precisava ser feito
                                e quando precisava ser feito."
                            </i>
                        </p>
                        <cite>Edna Ribeiro, auxiliar de escritório em Melo Contabil LTDA - ME</cite>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-offset-4 col-md-8">
                <div class="jumbotron depoimento-experiencia wow slideInLeft">
                    <blockquote>
                        <p>
                            <i>
                                "Sempre que precisei ele de seus serviços relacionados à informática
                                ele resolvia. Adaptou-se rapidamente ao cargo e acabou superando as expectativas."
                            </i>
                        </p>
                        <cite>Giancarlo Soares Melo, proprietário da GSM Engenharia</cite>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</main>