<div id="carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img class="fullscreen" src="../../imagens/slide/produtorrural.jpg" alt="Produtor Rural"/>
            <div class="carousel-caption texto-imagem-slide">
                <p class="text-center">Cadastre o produtor rural e tenha controle sobre suas finanças!</p>
            </div>
        </div>
        <div class="item">
            <img class="fullscreen" src="../../imagens/slide/fazenda.jpg" alt="Fazendas"/>
            <div class="carousel-caption texto-imagem-slide">
                <p class="text-center">Cadastre as fazendas do produtor rural e mantenha seus bens organizados!</p>
            </div>
        </div>
        <div class="item">
            <img class="fullscreen" src="../../imagens/slide/posse.jpg" alt="Posses"/>
            <div class="carousel-caption texto-imagem-slide">
                <p class="text-center">Cadastre os demais bens do produtor rural (como por exemplo carros, imóveis, etc) 
                e mantenha o controle de seus gastos!</p>
            </div>
        </div>
        <div class="item">
            <img class="fullscreen" src="../../imagens/slide/gado.jpg" alt="Compra e Venda de Gado"/>
            <div class="carousel-caption texto-imagem-slide">
                <p class="text-center">
                    Cadastre a movimentação de gado do produtor rural e tenha um controle maior sobre o seu rebanho!
                </p>
            </div>
        </div>
        <div class="item">
            <img class="fullscreen" src="../../imagens/slide/despesas.jpg" alt="Despesas e Receitas Gerais"/>
            <div class="carousel-caption texto-imagem-slide">
                <p class="text-center">
                    Registre a movimentação financeira do produtor rural e tenha controle sobre o saldo para o imposto de renda!
                </p>
            </div>
        </div>
        <div class="item">
            <img class="fullscreen" src="../../imagens/slide/venda_leite.jpg" alt="Venda de Leite"/>
            <div class="carousel-caption texto-imagem-slide">
                <p class="text-center">
                    Registre as vendas de leite do produtor rural e controle o fluxo de receitas do mesmo!
                </p>
            </div>
        </div>
        <div class="item">
            <img class="fullscreen" src="../../imagens/slide/balanco_fiscal.jpg" alt="Balanço Fiscal"/>
            <div class="carousel-caption texto-imagem-slide">
                <p class="text-center">
                    Acesse o balanço fiscal de cada produtor para auxiliar na geração do imposto de renda!
                </p>
            </div>
        </div>
        <a href="/" data-target="#carousel" data-slide="prev" class="left carousel-control">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a href="/" data-target="#carousel" data-slide="next" class="right carousel-control">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>