<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="jumbotron jumb-titulo">
            <h2 class="text-center">
                <span class="glyphicon glyphicon-piggy-ban"></span>
                &nbsp;Compra nº {{compra.id}}
            </h2>
            <p class="text-center">Informações Detalhadas da Compra</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="thumbnail container-painel-home">
            <p class="text-center">
                Aqui nesta página você encontrará todas as informações registradas no sistema referente à
                compra selecionada.
            </p>
            <p class="text-center">
                Caso deseje alterar alguma informação basta clicar no botão <i>"Editar"</i>. Caso deseje retornar
                para a página de listagem das compras basta clicar em <i>"Cancelar"</i>.
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="text-center panel-title">Informações Pessoais</h2>
            </div>
            <div class="panel-body">
                <table class="table table-responsive table-striped table-hover">
                    <tr>
                        <td>Data:</td>
                        <td><strong>{{compra.data | date: 'dd/MM/yyyy'}}</strong></td>
                    </tr>
                    <tr>
                        <td>ID do Proprietário:</td>
                        <td><strong>{{compra.produtorRuralId}}</strong></td>
                    </tr>
                    <tr>
                        <td>Número do documento:</td>
                        <td><strong>{{compra.numeroDocumento}}</strong></td>
                    </tr>
                    <tr>
                        <td>Nome do Vendedor:</td>
                        <td><strong>{{compra.nomeVendedor}}</strong></td>
                    </tr>
                    <tr>
                        <td>Valor:</td>
                        <td><strong>{{compra.valor | currency}}</strong></td>
                    </tr>
                    <tr>
                        <td>Quantidade de Cabeças:</td>
                        <td><strong>{{compra.quantidadeCabecas}}</strong></td>
                    </tr>
                    <tr>
                        <td>Descrição:</td>
                        <td><strong>{{compra.descricao}}</strong></td>
                    </tr>
                </table>
            </div>
            <div class="panel-footer">
                <a href="/compragado/edit/{{compra.id}}" class="btn btn-primary">
                    <span class="glyphicon glyphicon-pencil"></span>
                    &nbsp;Editar
                </a>
                <a href="/compragado" class="btn btn-default">
                    <span class="glyphicon glyphicon-remove"></span>
                    &nbsp;Cancelar
                </a>
            </div>
        </div>
    </div>
</div>     