<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="jumbotron jumb-titulo">
            <h2 class="text-center">
                <span class="glyphicon glyphicon-piggy-ban"></span>
                &nbsp; Formulário de Compra de Gado
            </h2>
            <p class="text-center">Seja bem vindo ao formulário de informações da compra de gado!</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="thumbnail container-painel-home">
            <p class="text-center">
                Aqui nesta página você encontrará um cadastro com informações importantes a serem preenchidas. Preencha
                todos os campos, a fim de deixar o cadastro completo.
            </p>
            <p class="text-center">
                Quando tiver preenchido todas as informações basta clicar em <i>"Salvar"</i>. Caso deseje retornar
                para a página de listagem dos produtores basta clicar em <i>"Cancelar"</i>.
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <form novalidate name="formCompra" ng-submit="submeterCompra()">
                    <fieldset>
                        <legend>Informações Iniciais</legend>
                        <div class="row">
                            <div class="form-group col-xs-12 col-md-4">
                                <label>Data da Compra:</label>
                                <input id="dataCompra" ng-model="compra.data" class="form-control" name="data" type="date" placeholder="Data da Compra" required />
                                <div ng-show="formCompra.$submitted && formCompra.data.$error.required" class="alert alert-danger alerta-de-erro" role="alert">
                                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                                    &nbsp;Por favor preencha a data da compra do gado!
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-md-4">
                                <label>ID do Comprador:</label>
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button type="button" ng-click="buscaProp()" class="btn btn-info"><i class="glyphicon glyphicon-search"></i></button>
                                    </span>
                                    <input ng-model="compra.produtorRuralId" class="form-control" name="produtorRuralId" type="text" placeholder="Produtor Rural" value="compra.produtorRuralId" required />
                                </div>
                                <div ng-show="formCompra.$submitted && formCompra.produtorRuralId.$error.required" class="alert alert-danger alerta-de-erro" role="alert">
                                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                                    &nbsp;Por favor escolha um produtor rural!
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-md-4">
                                <label>Valor:</label>
                                <input ng-model="compra.valor" class="form-control" name="valor" type="number" step="0.01" placeholder="Valor da compra" required />
                                <div ng-show="formCompra.$submitted && formCompra.valor.$error.required" class="alert alert-danger alerta-de-erro" role="alert">
                                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                                    &nbsp;Por favor preencha o valor da compra!
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-12 col-md-4">
                                <label>Quantidade Cabeças:</label>
                                <input ng-model="compra.quantidadeCabecas" class="form-control" name="quantidadeCabecas" type="number" placeholder="Quantidade de Cabeças" required />
                                <div ng-show="formCompra.$submitted && formCompra.quantidadeCabecas.$error.required" class="alert alert-danger alerta-de-erro" role="alert">
                                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                                    &nbsp;Por favor preencha quantidade de cabeças de gado!
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-md-4">
                                <label>Número do Documento Fiscal:</label>
                                <input ng-model="compra.numeroDocumento" class="form-control" name="valor" type="text" placeholder="Número do documento fiscal" required ng-minlenght="3" ng-maxlength="10" />
                                <div ng-show="formCompra.$submitted && formCompra.numeroDocumento.$error.required" class="alert alert-danger alerta-de-erro" role="alert">
                                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                                    &nbsp;Por favor preencha o número do documento fiscal!
                                </div>
                                <div ng-show="formCompra.$submitted && formCompra.numeroDocumento.$error.maxlength" class="alert alert-danger alerta-de-erro" role="alert">
                                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                                    &nbsp;O número do documento fiscal deve possuir no máximo 10 caracteres!
                                </div>
                                <div ng-show="formCompra.$submitted && formCompra.numeroDocumento.$error.minlength" class="alert alert-danger alerta-de-erro" role="alert">
                                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                                    &nbsp;O número do documento fiscal deve possuir no mínimo 3 caracteres!
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-md-4">
                                <label>Nome do Vendedor:</label>
                                <input ng-model="compra.nomeVendedor" class="form-control" name="nomeVendedor" type="text" placeholder="Nome do Vendedor" required ng-minlenght="3" ng-maxlength="300" />
                                <div ng-show="formCompra.$submitted && formCompra.nomeVendedor.$error.required" class="alert alert-danger alerta-de-erro" role="alert">
                                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                                    &nbsp;Por favor preencha o nome do vendedor!
                                </div>
                                <div ng-show="formCompra.$submitted && formCompra.nomeVendedor.$error.maxlength" class="alert alert-danger alerta-de-erro" role="alert">
                                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                                    &nbsp;O vendedor deve possuir no máximo 300 caracteres!
                                </div>
                                <div ng-show="formCompra.$submitted && formCompra.nomeVendedor.$error.minlength" class="alert alert-danger alerta-de-erro" role="alert">
                                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                                    &nbsp;O vendedor deve possuir no mínimo 3 caracteres!
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Informações Complementares</legend>
                        <div class="row">
                            <div class="form-group col-xs-12 col-md-12">
                                <label>Descrição:</label>
                                <textarea ng-model="compra.descricao" class="form-control" name="descricao" type="text" rows="6" placeholder="Descrição da Compra" ng-minlength="3" ng-maxlength="8000"></textarea>
                                <div ng-show="formCompra.$submitted && formCompra.descricao.$error.maxlength" class="alert alert-danger alerta-de-erro" role="alert">
                                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                                    &nbsp;A descrição deve possuir no máximo 8000 caracteres!
                                </div>
                                <div ng-show="formCompra.$submitted && formCompra.descricao.$error.minlength" class="alert alert-danger alerta-de-erro" role="alert">
                                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                                    &nbsp;A descrição deve possuir no mínimo 3 caracteres!
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-ok"></span>
                        &nbsp;Salvar
                    </button>
                    &nbsp;
                    <a href="" ng-click="voltarPagina()" class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove"></span>
                        &nbsp;Cancelar
                    </a>
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <div class="loader" ng-hide="!loading">
                                <img src="../../imagens/icones/ajax-loader.gif" class="loader" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $('#dataCompra').mask('99/99/9999');
</script>