<main>
    <div class="container-fluid banner-portfolio wow fadeInDown">
        <div class="row">
            <h1 class="center-block text-center">
                <span class="glyphicon glyphicon-folder-open"></span>
                &nbsp;PORTFÓLIO
            </h1>
        </div>
    </div>
    <div class="container-fluid wow fadeInDown">
        <div class="row">
            <div class="col-xs-12 col-md-offset-2 col-md-8">
                <p class="container-texto">
                    Seja bem vindo a minha página referente ao meu portfólio. Nela você encontrará
                    uma lista com web apps os quais criei e supri necessidades de várias pessoas à minha volta.
                    Clicando no botão <i>"Visualizar"</i> você poderá testar uma versão de demostração do aplicativo
                    em tempo real.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-offset-2 col-md-8">
                <p class="container-texto">
                    Cada painel possui o nome do aplicativo no seu cabeçalho. Abaixo dele, é possivel visualizar
                    uma ilustração do layout do app. Em seguida, temos uma breve descrição sobre o aplicativo, bem como
                    suas funcionalidades. Ao final encontrará o botão <i>"Visualizar"</i>, o qual o levará à demonstração.
                </p>
            </div>
        </div>
    </div>
    <div id="container-portfolio-1" class="container-fluid wow zoomIn">
        <div class="row">
            <h2 class="text-center">
                Demonstrações
            </h2>
            <br />
        </div>
        <div class="row wow zoomInUp">
            <div class="col-xs-12 col-md-4">
                <div class="panel panel-default painel-portfolio text-center wow fadeInDown">
                    <div class="painel-portfolio-cabecalho">
                        <h2 class="panel-title titulo-painel">
                            <span class="glyphicon glyphicon-plus-sign"></span>
                            &nbsp; Agendamento Médico
                        </h2>
                    </div>
                    <div class="panel-body corpo-painel">
                        <img class="img-responsive img-painel"
                             src="../../imagens/banners/banner_portfolio.jpg" />
                        <p class="texto-painel">
                            Este aplicativo foi criado para auxiliar no processo de
                            agendamento de consultas médicas. Nele é possível registrar o
                            médico, paciente, consultório e hospital (permitindo vincular
                            o mesmo médico a vários consultórios e hospitais). Também é possível
                            consultar o histórico do paciente, registrar uma consulta,
                            gerar uma fatura, registrar uma nova especialidade médica,
                            dentre outras funcionalidades.
                        </p>
                    </div>
                    <div class="panel-footer painel-portfolio-rodape text-center">
                        <a class="btn btn-primary" href="#">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            &nbsp;Visualizar
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="panel panel-default painel-portfolio text-center wow fadeInDown">
                    <div class="painel-portfolio-cabecalho">
                        <h2 class="panel-title titulo-painel">
                            <span class="glyphicon glyphicon-grain"></span>
                            &nbsp; Balanço - Produtor Rural
                        </h2>
                    </div>
                    <div class="panel-body corpo-painel">
                        <img class="img-responsive img-painel"
                             src="../../imagens/portfolio/balanco_produtor_rural/balanco_produtor_rural.jpg" />
                        <p class="texto-painel">
                            Este aplicativo foi criado para auxiliar no processo de
                            imposto de renda para produtores rurais clientes da
                            Melo Contabil LTDA, localizada em Dores do Indaiá/MG.
                            Nele é possível cadastrar o produtor rural e suas fazendas,
                            registrar suas vendas de gado, suas receitas provenientes do fornecimento
                            de leite, despesas com a fazenda, registro de posses,
                            despesas com a aquisição de gado, dentre outras funcionalidades.
                        </p>
                    </div>
                    <div class="panel-footer painel-portfolio-rodape text-center">
                        <a class="btn btn-primary" href="../Portfolio/BalancoProdutorRural/Menu.html">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            &nbsp;Visualizar
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="panel panel-default painel-portfolio text-center wow fadeInDown">
                    <div class="painel-portfolio-cabecalho">
                        <h2 class="panel-title titulo-painel">
                            <span class="glyphicon glyphicon-folder-close"></span>
                            &nbsp; Controle de Arquivo
                        </h2>
                    </div>
                    <div class="panel-body corpo-painel">
                        <img class="img-responsive img-painel"
                             src="../../imagens/banners/banner_portfolio.jpg" />
                        <p class="texto-painel">
                            Este simples aplicativo foi criado com o intuito de auxiliar no
                            arquivamento de documentos na empresa Melo Contabil LTDA,
                            localizada em Dores do Indaiá/MG. Nele é possível cadastrar os itens
                            a serem arquivados fornecendo informações como a data dos mesmos,
                            seu conteúdo e a entidade a qual é referente. É possível
                            efetuar o arquivamento através do cadastramento da caixa do arquivo
                            a qual conterá os documentos.
                        </p>
                    </div>
                    <div class="panel-footer painel-portfolio-rodape text-center">
                        <a class="btn btn-primary" href="../Portfolio/BalancoProdutorRural/Menu.html">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            &nbsp;Visualizar
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row wow zoomInUp">
            <div class="col-xs-12 col-md-4">
                <div class="panel panel-default painel-portfolio text-center wow fadeInDown">
                    <div class="painel-portfolio-cabecalho">
                        <h2 class="panel-title titulo-painel">
                            <span class="glyphicon glyphicon-phone"></span>
                            &nbsp; Cotacao de Produtos
                        </h2>
                    </div>
                    <div class="panel-body corpo-painel">
                        <img class="img-responsive img-painel"
                             src="../../imagens/banners/banner_portfolio.jpg" />
                        <p class="texto-painel">
                            Este aplicativo foi criado para auxiliar no processo de cotação
                            de produtos a serem solicitados junto aos representantes para o
                            Empório Salviano, localizada em Dores do Indaiá/MG. Nele é possível
                            cadastrar o produto a ser cotado, cadastrar o representante, o fornecedor
                            e efetuar a cotação do produto, permitindo encontrar a mercadoria com o menor
                            preço ofertado.
                        </p>
                    </div>
                    <div class="panel-footer painel-portfolio-rodape text-center">
                        <a class="btn btn-primary" href="#">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            &nbsp;Visualizar
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="panel panel-default painel-portfolio text-center wow fadeInDown">
                    <div class="painel-portfolio-cabecalho">
                        <h2 class="panel-title titulo-painel">
                            <span class="glyphicon glyphicon-wrench"></span>
                            &nbsp; Quadro de Funcionários
                        </h2>
                    </div>
                    <div class="panel-body corpo-painel">
                        <img class="img-responsive img-painel"
                             src="../../imagens/banners/banner_portfolio.jpg" />
                        <p class="texto-painel">
                            Este aplicativo foi criado para auxiliar no processo de controle
                            de funcionários. Nele é possível cadastrar a empresa, seus funcionários,
                            efetuar o registro dos funcionários na empresa (passando informações importantes
                            como salário, horários a cumprir), controlar as faltas dos funcionários,
                            registrar ocorrências que aconteceram no período de trabalho, entre outros.
                        </p>
                    </div>
                    <div class="panel-footer painel-portfolio-rodape text-center">
                        <a class="btn btn-primary" href="#">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            &nbsp;Visualizar
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="panel panel-default painel-portfolio text-center wow fadeInDown">
                    <div class="painel-portfolio-cabecalho">
                        <h2 class="panel-title titulo-painel">
                            <span class="glyphicon glyphicon-cutlery"></span>
                            &nbsp; Pedidos para Restaurante
                        </h2>
                    </div>
                    <div class="panel-body corpo-painel">
                        <img class="img-responsive img-painel"
                             src="../../imagens/banners/banner_portfolio.jpg" />
                        <p class="texto-painel">
                            Este aplicativo, o qual foi o meu trabalho de conclusão de curso na
                            Faculdade Alis, foi criado para auxiliar no processo de fornecimento
                            de refeições à domicílio da empresa Restaurante LanShopping LTDA,
                            localizada em Nova Serrana/MG. Nele é possível criar o prato do dia,
                            cadastrar o cliente, enviar mensagens aos mesmos, como também efetuar
                            as vendas, dentre outros.
                        </p>
                    </div>
                    <div class="panel-footer painel-portfolio-rodape text-center">
                        <a class="btn btn-primary" href="#">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            &nbsp;Visualizar
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="container-portfolio-2" class="container-fluid wow fadeInUp">
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <div class="jumbotron depoimento-portfolio wow slideInRight">
                    <blockquote>
                        <p>
                            <i>
                                "O layout ficou ao mesmo tempo bem elaborado, mas bastante intuitivo. É algo que não
                                cansa fácil o usuário. Se vocês quisessem poderiam disponibilizá-lo ao mercado agora
                                mesmo, pois ao meu ver já parece pronto para o uso."
                            </i>
                        </p>
                        <cite>
                            Alessandro Vinicius, professor na Faculdade Alis de Bom Despacho, sobre o web app
                            "Pedidos para Restaurante"
                        </cite>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-offset-4 col-md-8">
                <div class="jumbotron depoimento-portfolio wow slideInLeft">
                    <blockquote>
                        <p>
                            <i>
                                "O aplicativo possui bastante funcionalidades, ficou muito intuitivo, simples e prático.
                                O melhor de tudo é que ele auxilia na resolução de um problema em um cenário real da
                                melhor maneira possível!"
                            </i>
                        </p>
                        <cite>
                            Edmilson Ferreia da Silva, professor na Faculdade Alis de Bom Despacho, sobre o web app
                            "Pedidos para Restaurante"
                        </cite>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</main>