<div class="thumbnail center-block container-painel-home">
    <div class="thumbnail center-block titulo-painel-home">
        <h2 class="text-center">Escolha uma das opções</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-3">
        <div class="panel panel-default painel-home">
            <div class="thumbnail painel-home-cabecalho">
                <h3>Produtor Rural</h3>
            </div>
            <div class="panel-body">
                <a href="/produtor" class="icone-painel-home center-block">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-3">
        <div class="panel panel-default painel-home">
            <div class="thumbnail painel-home-cabecalho">
                <h3>Fazendas</h3>
            </div>
            <div class="panel-body">
                <a href="/fazenda" class="icone-painel-home center-block">
                    <span class="glyphicon glyphicon-tree-deciduous"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-3">
        <div class="panel panel-default painel-home">
            <div class="thumbnail painel-home-cabecalho">
                <h3>Posses</h3>
            </div>
            <div class="panel-body">
                <a href="/posse" class="icone-painel-home center-block">
                    <span class="glyphicon glyphicon-home"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-3">
        <div class="panel panel-default painel-home">
            <div class="thumbnail painel-home-cabecalho">
                <h3>Venda de Leite</h3>
            </div>
            <div class="panel-body">
                <a href="/leite" class="icone-painel-home center-block">
                    <span class="glyphicon glyphicon-tint"></span>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-3">
        <div class="panel panel-default painel-home">
            <div class="thumbnail painel-home-cabecalho">
                <h3>Compra de Gado</h3>
            </div>
            <div class="panel-body">
                <a href="/compragado" class="icone-painel-home center-block">
                    <span class="glyphicon glyphicon-piggy-bank"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-3">
        <div class="panel panel-default painel-home">
            <div class="thumbnail painel-home-cabecalho">
                <h3>Venda de Gado</h3>
            </div>
            <div class="panel-body">
                <a href="/vendagado" class="icone-painel-home center-block">
                    <span class="glyphicon glyphicon-piggy-bank"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-3">
        <div class="panel panel-default painel-home">
            <div class="thumbnail painel-home-cabecalho">
                <h3>Despesa Geral</h3>
            </div>
            <div class="panel-body">
                <a href="/despesa" class="icone-painel-home center-block">
                    <span class="glyphicon glyphicon-euro"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-3">
        <div class="panel panel-default painel-home">
            <div class="thumbnail painel-home-cabecalho">
                <h3>Receita Geral</h3>
            </div>
            <div class="panel-body">
                <a href="/receita" class="icone-painel-home center-block">
                    <span class="glyphicon glyphicon-euro"></span>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-offset-4 col-md-4">
        <div class="panel panel-default painel-home">
            <div class="thumbnail painel-home-cabecalho">
                <h3>Balanço Fiscal</h3>
            </div>
            <div class="panel-body">
                <a href="/balanco" class="icone-painel-home center-block">
                    <span class="glyphicon glyphicon-scale"></span>
                </a>
            </div>
        </div>
    </div>
</div>